{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    Create a comment
{% endblock page_header %}


{% block content %}
    <h4 class="text-light">
        <form method='post' action="{% url 'comments:create_comment' post.id %}"
            class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name='submit' class="btn btn-sm">Create</button>
            {% endbuttons %}
        </form>
    </h4>
{% endblock content %}
