{% extends 'blogs/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card mt-4 mb-4">
            <h4 class="card-header p-2"><a href="{% url 'blogs:post' post.id %}"
                class="text-dark">{{ post.title }}</a>
                {% if post.owner == request.user %}
                    <a href="{% url 'blogs:edit_post' post.id %}"
                        class="card-link btn btn-sm btn-info float-right">Edit</a>
                {% endif %}
            </h4>
            <div class="card-body p-2">
                <h5 class="card-subtitle text-muted"><b>{{ post.owner }}</b>,
                    <small>{{ post.date_added }}</small></h6>
                <p class="card-text">{{ post.text|linebreaks }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}